@using ProyectoFinal1.Models;
@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <br />
    <br />
    <h1>Categorias</h1>
    <br />
    <br />
    <a href="@Url.Action("Index", "Home")"><img src="~/Content/Imagenes/MotoresCombustion.png" /></a>
    <br />
    <br />
    <img src="~/Content/Imagenes/MotoresElectricos.png" />

</center>




