@using ProyectoFinal1.Models;
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}
@{
    DateTime dia = DateTime.Now;
    var hora = dia.Hour;
    string mensaje = "";

    if (hora < 12)
    {
        mensaje = "Buenos días: ";

    }
    if ((hora > 12) && (hora < 19))
    {
        mensaje = "Buenos tardes: ";


    }
    if (hora > 19)
    {
        mensaje = "Buenos noches: ";

    }





}

<h2> @mensaje  </h2>

<center>
    <br />
    <br />
    <h1>Categorias</h1>
    <br />
    <br />
    <a href="@Url.Action("Index")"><img src="~/Content/Imagenes/BannerCompras.png" /></a>
    <br />
    <br />
  
</center>


